{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Iniciar sesion</title>
</head>
<body>
  <form action="/Games/">
    <div class="row">
      <div class="col-md-8 mx-auto social-container my-2 order-md-1">
          <button class="btn btn-primary mb-2">
              <a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a>
          </button>
      </div>
  </form>
</div>
</body>
</html>